

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>
			{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
		</title>
    
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  </head>

